################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunFox/.vs/FunFox.PortalSystem/FileContentIndex/14202ef0-4e04-407c-8a96-2983a8b89bc8.vsidx
/FunFox/.vs/FunFox.PortalSystem/FileContentIndex/a5d4a0b0-a9c0-483b-8d48-5fa56d87edc2.vsidx
/FunFox/.vs/FunFox.PortalSystem/FileContentIndex/4f4fb157-f891-424f-84ee-75191137b289.vsidx
/FunFox/.vs/FunFox.PortalSystem/FileContentIndex/457ac0a2-6855-4264-b974-85d6624ce7e9.vsidx
